h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
input {
	display: block;
	border: 1px solid rgb(158, 158, 158);
	width: 25%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 15px;
}
.error {
    background: crimson;
    color: #ffffff;
    padding: 10px;
    width: 25%;
    border-radius: 15px;
    margin: 10px auto;
    font-size: 14px;
    text-align: center;
}
.success {
    background: deepskyblue;
    color: #ffffff;
    padding: 10px;
    width: 25%;
    border-radius: 15px;
    margin: 10px auto;
    font-size: 14px;
    text-align: center;
}
.register {
    text-align: center;
	padding: 5px;
	border-radius: 15px;
}
.login {
    text-align: center;
	padding: 5px;
	border-radius: 15px;
}
button {
    display: inline-block;
    height: 30px;
    width: 26%;
	background: deepskyblue;
	color: white;
	border-radius: 10px;
	border: none;
}
button:hover{
	opacity: .7;
}